<nav id="mobile-nav" class="mobile-nav-not-toggled">
    <button class="mobile-nav-close-btn" id="mobile-nav-close-btn">
        <img src="/assets/svgs/utils/btns/close-btn.svg" alt="">
    </button>
    <ul class="mobile-nav-ul">
        <li class="mobile-nav-li">
        <a href="" class="mobile-nav-a">Home</a>
        </li>
        <li class="mobile-nav-li">
        <a href="" class="mobile-nav-a">About</a>
        </li>
        <li class="mobile-nav-li">
        <a href="" class="mobile-nav-a">Visit Store</a>
        </li>
        <li class="mobile-nav-li">
        <a href="" class="mobile-nav-a">Consult Doctor</a>
        </li>
    </ul>
</nav>