<nav class="social-nav">
    <div class="socials">
        <img src="./assets/svgs/instagram.svg" alt="" srcset="">
        <a href="#">@medEzzy</a>
    </div>
    <div class="socials">
        <img src="./assets/svgs/linkedin.svg" alt="">
        <a href="#">medEzzy</a>
    </div>
    <div class="socials" style="margin-right: 5px;">
        <img src="./assets/svgs/contact.svg" alt="" srcset="">
        <a href="#">Contact Us</a>
    </div>
</nav>