<nav class="social-nav">
    <div class="socials">
        <img src="/assets/svgs/utils/socials/instagram.svg" alt="" srcset="">
        <a href="#">@medEzzy</a>
    </div>
    <div class="socials">
        <img src="/assets/svgs/utils/socials/linkedin.svg" alt="">
        <a href="#">medEzzy</a>
    </div>
    <div class="socials" style="margin-right: 5px;">
        <img src="/assets/svgs/utils/socials/contact.svg" alt="">
        <a href="#">medEzzy</a>
    </div>
</nav>