<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop homepage</title>
    <link rel="stylesheet" href="/css/shop-css/shop-landing-main.css">
    <link rel="stylesheet" href="/css/utils/shop/shop-mobile-nav.css">
    <link rel="stylesheet" href="/css/utils/shop/shop-nav.css">
    <link rel="stylesheet" href="/css/utils/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <!-- mobile-navbar -->
    <%- include("../../partials/shop/mobile-nav.ejs"); %>
    <!-- main navbar -->
    <%- include("../../partials/shop/main-nav.ejs"); %>
    <!-- img slider  -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="offer-slider offer-style">
                <div class="slider-img">
                    <img src="/assets/images/shop-imgs/landing/h1-news01.png" alt="">
                </div>
                <div class="slider-content">
                    <div class="slider-heading">
                        <h1>
                            Flat 25% Off <br>Medicine order
                        </h1>
                    </div>
                    <div class="slider-info">
                        Get exciting offers on every order!
                        <h6>CODE: SAVE25</h6>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="offer-slider-2 offer-style">
                <div class="slider-img">
                    <img src="/assets/images/shop-imgs/landing/h1-news01.png" alt="">
                </div>
                <div class="slider-content">
                    <div class="slider-heading">
                        <h1>
                            Flat 25% Off <br>Medicine order
                        </h1>
                    </div>
                    <div class="slider-info">
                        Get exciting offers on every order!
                        <h6>CODE: SAVE25</h6>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="offer-slider-3 offer-style">
                <div class="slider-img">
                    <img src="/assets/images/shop-imgs/landing/h1-news01.png" alt="">
                </div>
                <div class="slider-content">
                    <div class="slider-heading">
                        <h1>
                            Flat 25% Off <br>Medicine order
                        </h1>
                    </div>
                    <div class="slider-info">
                        Get exciting offers on every order!
                        <h6>CODE: SAVE25</h6>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- Best sellers section -->
    <div class="best-seller-cont">
        <div class="container-about">
            <div class="container-heading">
                Bestsellers
            </div>
            <a href=""><button id="best-seller-btn" class="action-btn">
                View More
            </button></a>
        </div> 
        <div class="best-sellers-item-container">
            <div class="item-card">
                <div class="item-img">
                    <div class="floating-menu">
                        <button id="view-item">
                            <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="3.5" stroke="#fff"></circle> <path d="M21 12C21 12 20 4 12 4C4 4 3 12 3 12" stroke="#fff"></path> </g></svg>
                        </button>
                    </div>
                    <div class="item-img-fix-div">
                        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/dwqhqfos0hlzsltrwraf.jpg" alt="">
                    </div>
                </div>
                <div class="item-info">
                    <div class="item-name">
                        <a href="http://" target="_blank" rel="noopener noreferrer">Asthalin 100mcg Inhaler</a>
                    </div>
                    <div class="item-price-cont">
                        <div class="item-price-util">
                            <div class="original-price"style="color:grey; text-decoration:line-through;">MRP:$200</div>
                            <div class="discount-percentage"style="color:red;">10% OFF</div>
                        </div>
                        <div class="discounted-price">
                            $180
                        </div>
                    </div>
                    <div class="item-action-btns">
                        <button class="action-btn" id="addToCart">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div class="item-img">
                    <div class="floating-menu">
                        <button id="view-item">
                            <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="3.5" stroke="#fff"></circle> <path d="M21 12C21 12 20 4 12 4C4 4 3 12 3 12" stroke="#fff"></path> </g></svg>
                        </button>
                    </div>
                    <div class="item-img-fix-div">
                        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/3205599cc49d4073ae66cbb0dbfded86.jpg" alt="">
                    </div>
                </div>
                <div class="item-info">
                    <div class="item-name">
                        <a href="http://" target="_blank" rel="noopener noreferrer">Asthalin 100mcg Inhaler</a>
                    </div>
                    <div class="item-price-cont">
                        <div class="item-price-util">
                            <div class="original-price"style="color:grey; text-decoration:line-through;">MRP:$200</div>
                            <div class="discount-percentage"style="color:red;">10% OFF</div>
                        </div>
                        <div class="discounted-price">
                            $180
                        </div>
                    </div>
                    <div class="item-action-btns">
                        <button class="action-btn" id="addToCart">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div class="item-img">
                    <div class="floating-menu">
                        <button id="view-item">
                            <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="3.5" stroke="#fff"></circle> <path d="M21 12C21 12 20 4 12 4C4 4 3 12 3 12" stroke="#fff"></path> </g></svg>
                        </button>
                    </div>
                    <div class="item-img-fix-div">
                        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/cropped/zz57ek6tsj8boa5kwj1q.jpg" alt="">
                    </div>
                </div>
                <div class="item-info">
                    <div class="item-name">
                        <a href="http://" target="_blank" rel="noopener noreferrer">Asthalin 100mcg Inhaler</a>
                    </div>
                    <div class="item-price-cont">
                        <div class="item-price-util">
                            <div class="original-price"style="color:grey; text-decoration:line-through;">MRP:$200</div>
                            <div class="discount-percentage"style="color:red;">10% OFF</div>
                        </div>
                        <div class="discounted-price">
                            $180
                        </div>
                    </div>
                    <div class="item-action-btns">
                        <button class="action-btn" id="addToCart">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div class="item-img">
                    <div class="floating-menu">
                        <button id="view-item">
                            <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="3.5" stroke="#fff"></circle> <path d="M21 12C21 12 20 4 12 4C4 4 3 12 3 12" stroke="#fff"></path> </g></svg>
                        </button>
                    </div>
                    <div class="item-img-fix-div">
                        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/d3754d6cc09348788c43b1e5b3b9fc6b.jpg" alt="">
                    </div>
                </div>
                <div class="item-info">
                    <div class="item-name">
                        <a href="http://" target="_blank" rel="noopener noreferrer">Asthalin 100mcg Inhaler</a>
                    </div>
                    <div class="item-price-cont">
                        <div class="item-price-util">
                            <div class="original-price"style="color:grey; text-decoration:line-through;">MRP:$200</div>
                            <div class="discount-percentage"style="color:red;">10% OFF</div>
                        </div>
                        <div class="discounted-price">
                            $180
                        </div>
                    </div>
                    <div class="item-action-btns">
                        <button class="action-btn" id="addToCart">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div class="item-img">
                    <div class="floating-menu">
                        <button id="view-item">
                            <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="3.5" stroke="#fff"></circle> <path d="M21 12C21 12 20 4 12 4C4 4 3 12 3 12" stroke="#fff"></path> </g></svg>
                        </button>
                    </div>
                    <div class="item-img-fix-div">
                        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/0daa70fb85f642d0a606300a7cee85a0.jpg" alt="">
                    </div>
                </div>
                <div class="item-info">
                    <div class="item-name">
                        <a href="http://" target="_blank" rel="noopener noreferrer">Asthalin 100mcg Inhaler</a>
                    </div>
                    <div class="item-price-cont">
                        <div class="item-price-util">
                            <div class="original-price"style="color:grey; text-decoration:line-through;">MRP:$200</div>
                            <div class="discount-percentage"style="color:red;">10% OFF</div>
                        </div>
                        <div class="discounted-price">
                            $180
                        </div>
                    </div>
                    <div class="item-action-btns">
                        <button class="action-btn" id="addToCart">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- deal of the day -->
    <div class="deal-of-the-day-cont">
        <div class="container-about" style="margin: 20px 10% !important;">
            <div class="container-heading">
                Deals of the day
            </div>
            <a href=""><button id="best-seller-btn" class="action-btn">
                View More
            </button></a>
        </div>
        <div class="deal-of-the-day-content">
            <div class="deal-item-card">
                <div class="item-img">
                    <!-- no floating-menu  -->
                    <!-- changed  -->
                    <div class="deal-item-img-fix-div">
                        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/3205599cc49d4073ae66cbb0dbfded86.jpg" alt="">
                    </div>
                </div>
                <!-- not to be changed -->
                <div class="item-info">
                    <div class="item-name">
                        <a href="http://" target="_blank" rel="noopener noreferrer">Asthalin 100mcg Inhaler</a>
                    </div>
                    <div class="item-price-cont">
                        <div class="item-price-util">
                            <div class="original-price"style="color:grey; text-decoration:line-through;">MRP:$200</div>
                            <div class="discount-percentage"style="color:red;">10% OFF</div>
                        </div>
                        <div class="discounted-price">
                            $180
                        </div>
                    </div>
                    <div class="item-action-btns">
                        <button class="action-btn" id="addToCart">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="deal-item-card">
                <div class="item-img">
                    <!-- no floating-menu  -->
                    <!-- changed  -->
                    <div class="deal-item-img-fix-div">
                        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/dwqhqfos0hlzsltrwraf.jpg" alt="">
                    </div>
                </div>
                <!-- not to be changed -->
                <div class="item-info">
                    <div class="item-name">
                        <a href="http://" target="_blank" rel="noopener noreferrer">Asthalin 100mcg Inhaler</a>
                    </div>
                    <div class="item-price-cont">
                        <div class="item-price-util">
                            <div class="original-price"style="color:grey; text-decoration:line-through;">MRP:$200</div>
                            <div class="discount-percentage"style="color:red;">10% OFF</div>
                        </div>
                        <div class="discounted-price">
                            $180
                        </div>
                    </div>
                    <div class="item-action-btns">
                        <button class="action-btn" id="addToCart">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- buy-from-brands  -->
    <div class="buy-from-brand-cont">
        <div class="container-about">
            <div class="container-heading">
                Shop By Brand
            </div>
            <a href=""><button id="best-seller-btn" class="action-btn">
                View More
            </button></a>
        </div>
        <div class="shop-brand-section">
            <div class="brand-logo">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <img class="brand-logo-img" src="/assets/images/shop-imgs/landing/brands/dr-reddy.svg" alt="">
                </a>
            </div>
            <div class="brand-logo">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <img class="brand-logo-img" src="/assets/images/shop-imgs/landing/brands/ajanta-logo.svg" alt="">
                </a>
            </div>
            <div class="brand-logo">
                <a href="http://" target="_blank" rel="noopener noreferrer" >
                    <img class="brand-logo-img" src="/assets/images/shop-imgs/landing/brands/cipla-logo.svg" alt="" style="height: 30px;">
                </a>
            </div>
            <div class="brand-logo">
                <a href="http://" target="_blank" rel="noopener noreferrer" >
                    <img class="brand-logo-img" src="/assets/images/shop-imgs/landing/brands/apex-logo.png" alt="" style="height: 43px;">
                </a>
            </div>
        </div>
    </div>
    <!-- facilities -->
    <div class="spacing-utility">
        <div class="facilities">
            <div class="facilities-card">
                <div class="facilities-img">
                    <img src="/assets/svgs/main-homepage/about/truck.svg" alt="">
                </div>
                <div class="facilities-content">
                    <div class="facilities-heading">
                        Free Shipping
                    </div>
                    <div class="facilities-text">
                        Shopping Over Rs.199 or first purchase you will get 100% free shipping
                    </div>
                </div>
            </div>
            <div class="facilities-card">
                <div class="facilities-img">
                    <img src="/assets/svgs/main-homepage/about/wallet.svg" alt="">
                </div>
                <div class="facilities-content">
                    <div class="facilities-heading">
                        Cheapest Medicine
                    </div>
                    <div class="facilities-text">
                        Get the cheapest medicine in India starting at just Rs.49!
                    </div>
                </div>
            </div>
            <div class="facilities-card">
                <div class="facilities-img">
                    <img src="/assets/svgs/utils/socials/contact.svg" alt="">
                </div>
                <div class="facilities-content">
                    <div class="facilities-heading">
                        24/7 Customer Support
                    </div>
                    <div class="facilities-text">
                        Our dedicated support engineer are waiting for assist you.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../../partials/utils/footer.ejs"); %> 
</body>
<script src="/js/utils/hamburger.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</html>