<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="seller">
        Seller
    </button>
    <button id="doctor">
        Doctor
    </button>
    <button id="delivery-part">
        Delivery Partner
    </button>
</body>
<script src="js/reg-login/partner-role.js"></script>
</html>