<nav id="mobile-nav" class="mobile-nav-not-toggled">
    <button class="mobile-nav-close-btn" id="mobile-nav-close-btn">
        <img src="/assets/svgs/utils/btns/close-btn.svg" alt="">
    </button>
    <ul class="mobile-nav-ul">
        <li class="mobile-nav-li">
            <a href="" class="mobile-nav-a">Profile</a>
        </li>
        <li class="mobile-nav-li">
            <a href="/shop/cart1" class="mobile-nav-a">Cart</a>
        </li>
        <li class="mobile-nav-li">
            <a href="/" class="mobile-nav-a">Home</a>
        </li>
        <li class="mobile-nav-li">
            <a href="/shop" class="mobile-nav-a">Shop</a>
        </li>
        <li class="mobile-nav-li">
            <a href="/shop/shopfull" class="mobile-nav-a">All Products</a>
        </li>
        <li class="mobile-nav-li">
            <a href="/" class="mobile-nav-a">About us</a>
        </li>
        <li class="mobile-nav-li" style="padding: 0 !important;">
            <button id="logOutBtn">
                Logout
            </button>
        </li>
    </ul>
</nav>