.spacing-utility {
    margin-left: 5vw;
    margin-right: 5vw;
}
.footer{
    background-color: var(--main-purple);
    color: var(--white);
}
footer div:first-child{
    display: flex;
    justify-content: space-between;
}
.nav-address-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.nav-address-content{
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 0;
    line-height: 24px;
    align-items: center;
}
.nav-address-content p{
    margin-left: 10px;
}
.nav-address-content img{
    height: 30px;
    filter: invert(1);
}
.quick-link-container{
    margin-top: 50px;
}
.quick-link-ul{
    list-style: none;
    
}
.quick-link-li{
    padding: 10px;
}
.quick-link-li a{
    text-decoration: none;
    color:  var(--white);
}
.payment-container{
    margin-top: 50px;
    
}
.payment-imgs img{
    height: 40px;
    margin-top: 15px;
}
.copyright{
    background-color: black;
}
.copyright p{
    align-items: center;
    height: 40px;
    text-align: center;
    color: var(--white);
    display: grid;
}
@media screen and (max-width:786px) {
    .quick-link-container{
        display: none
    }
    .payment-container{
        display: none;
    }
    footer div:first-child{
        display: flex;
        justify-content: center;
    }
}